.module-panel {
    display: flex;
    flex-direction: column;
    background: #E8E8E8;
    border: black 0.2px solid;
    position: absolute;
    height: 100%;
}

.panel_content {
    flex: 1;
}

.panel_edge {
    display: flex;
    justify-content: space-between;
    margin: -2px 0;
}